footer {

    background-color: #728699;
    min-height: 300px;
}

footer nav a {

    color: #00D0AD;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    text-transform: capitalize;
}


footer nav a:hover {

    color: white;
}
