section.masthead {
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(270deg, #14191D 11.6%, #404F5C 88.26%);
    overflow: hidden;


}

.masthead p {
    color: white;
    font-style: normal;
    font-weight: normal;

}

.masthead h1 {
    font-size: 2em;
    font-weight: 700;
    display: block;
    padding: 1rem 0;
    margin-top: 5vh;
    text-transform: uppercase;
}

@media all and (min-width: 768px) {


    .name-container {

        padding-left: 11vw;

    }
    .masthead h1 {

        font-size: 4em;
    }
}

.commonwealth {
    display: block;
    margin-top: 30px;
    padding-left: 20px;
}


.bg2 {
    position: absolute;
    width: 93.6%;
    height: 94%;
    left: 16%;
    top: 13%;
    z-index: 1;

}

.bg1 {
    position: absolute;
    width: 85%;
    height: 79vh;
    left: 25%;
    top: 39vh;
    z-index: 1;
}

.bg0 {
    position: absolute;
    width: 76%;
    height: 46vh;
    left: 33%;
    top: 69%;
    z-index: 1;
}

.star {

    position: absolute;
    background: #00D0AD;
}



