
.navbar-nav a {

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 51px;
    cursor: pointer;


    /* Gr */
    color: #728699 !important;
    font-size: 1.25em;
    transition: font-size 0.3s linear, color 0.3s linear;
}



.navbar-nav a:hover {

    color: white !important;
}

@media all and (min-width: 768px) {

    .navbar-nav a {

        font-size: 2em;
    }

    .brand-img {

        padding-left: 11vw;
    }
}

