@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {

    --green: #00D0AD;
    --gray:  #F2F6F9;
    --dark-gray: #728699;
}

.bg-grey, .bg-gray {
    background:var(--gray);
}

.text-success {
    color: var(--green) !important;
}

.btn-success {

    color: var(--green) !important;
}

body {

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 29px;
}

.btn-social {
    font-size: 20px;
    line-height: 45px;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    border: 2px solid white;
    border-radius: 100%;
}

p {
    color: #728699;
    font-size: 20px;
}

p.small {
    font-size: 16px;
}

a,
a.active,
a:active,
a:focus,
a:hover {
    outline: none;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    text-transform: uppercase;
}

section {
    padding: 100px 0;

}

section h2 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 2em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #384958;
}

section hr {

    margin-left: 0;
    border: none;
    padding: 0;
    width: 70px;
    height: 5px;
}

section hr.bg-secondary {
    background: #728699;
}


.scroll-top {
    position: fixed;
    z-index: 1049;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    font-size: 16px;
    line-height: 28px;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 100%;

}

.scroll-top .btn:focus {
    outline: none;
}

.star {
    color: var(--green);
    width: 6px;
    height: 6px;
    z-index: 2;
}


.card-text {
    font-weight: 500;
}

